<%- include ('../partials/top') %>
<div class="row py-4">
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/admin/offers" class="card bg-white text-dark d-flex p-4 align-items-center big-link">
      <i class="fa fa-briefcase icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        
        <p class="card-text">Job Offers</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/admin/companies" class="card bg-white text-dark d-flex p-4 align-items-center big-link">
      <i class="fa fa-building-o icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        
        <p class="card-text">Companies</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/admin/applicants" class="card bg-white text-dark d-flex p-4 align-items-center big-link">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        
        <p class="card-text">Applicants</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/admin/applications" class="card bg-white text-dark d-flex p-4 align-items-center big-link">
      <i class="fa fa-archive icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        
        <p class="card-text">Job Applications</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/admin/users" class="card bg-white text-dark d-flex p-4 align-items-center big-link">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        
        <p class="card-text">Users</p>  
      </div>
    </a>
  </div>
</div>


<%- include('../partials/bottom') %>
